<div class="text-center">
  <h1>Your results in the longest word game !</h1>
  <h2>Remember of your grid</h2>
  <p><%= @letters %></p>
  <h2>This is the longest word you could find</h2>
  <p><%= @word %></p>
  <h3><%= @result %></h3>
  <p><%= link_to "Play again", "new" %></p>
</div>
